<div id="container" (click)="goToDetail()">
    <img src="{{image}}" alt={{username}} id="thumb"/>
     <p style="color: black;"><strong>{{ username }}</strong></p>
     <p>Age: {{age}}</p>
     <p>{{userAgent}} &#x2605;</p>
       <!-- @if (brand) {
         <p>Listed by 
           @if (brand !== 'Anonymous') {
       <a
         target="_blank"
         rel="noopener noreferrer"
         href="https://ionicframework.com/docs/components"
         >{{brand}}</a
       >
         } @else {
       <p>Anonymous</p>
     }
     </p>
     }  -->
       
   </div>